VITE_API_BASE_URL=http://localhost:5034/api
VITE_APP_NAME=QuickPark
VITE_APP_ENV=development

CLOUDINARY_CLOUD_NAME=tngyskxy
CLOUDINARY_API_KEY=698825114669992
CLOUDINARY_API_SECRET=P1cBpltx1tHxVBum9EA3HOeaxW0
CLOUDINARY_FOLDER=quickpark/nic
